:root {
  --amethyst: #9b5de5ff;
  --brilliant-rose: #f15bb5ff;
  --maize: #fee440ff;
  --deep-sky-blue: #00bbf9ff;
  --aquamarine: #00f5d4ff;

  --gradient: linear-gradient(
    90deg,
    var(--aquamarine),
    var(--deep-sky-blue),
    var(--amethyst),
    var(--brilliant-rose),
    var(--maize),
    var(--aquamarine)
  );

  --repeating-gradient: repeating-linear-gradient(
    135deg,
    var(--aquamarine),
    var(--deep-sky-blue),
    var(--amethyst),
    var(--brilliant-rose),
    var(--maize),
    var(--brilliant-rose),
    var(--amethyst),
    var(--deep-sky-blue),
    var(--aquamarine)
  );

  --white-gradient: linear-gradient(180deg, white, #ffffff00);

  --font-family: "Manrope", sans-serif;
  --font-weight: 700;
  --subfont-weight: 600;
  --font-size: 1.3rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-image: var(--gradient);
  font-weight: var(--font-weight);
  overflow-x: hidden;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem 0rem 0rem 0rem;
}

main {
background-color:white;
  width: 100%;
  display: flex;
  gap: 0rem;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 6rem 2rem 6rem;
}

.header-text {
  background-image: url("assets/HOLLIS-LOGO-COLOUR.png");
  width: 80%;
  max-width: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  aspect-ratio: 6.5 / 1;
}

.hero-image {
  position: relative;
  top: -4rem;
  width: calc(100% - 2rem);
  max-width: 1000px;
  height: auto;
  padding: 0;
  margin: 0;
}

.hero {

  width: 80%;
  max-width: 1200px;
  padding: 2rem;
  padding-top: 0rem;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  position: relative;
  top: -1.5rem;
}

.hollis-character-image {
  width: 33%;
  max-width: 18rem;
  margin: 0 1rem 1rem 0;
  object-fit: contain;

  flex: 0 0 auto;

  float:left;
}

.hollis-character-image-2{
  box-sizing: border-box;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;

  object-fit: cover;
  object-position: center top;
  width: 400px;
  aspect-ratio: 1/1;
  max-width: 100%;

  border: black 4px solid;
}

.hollis-character-image-3{
  display: none;
}

.character-container{
  margin-right: 2rem;
  margin-bottom: 1rem;


  max-width: 33%;
  width: 400px;
  padding: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transform: rotate(-2deg);

    float: left;
    display: block;

  height: fit-content;
}

.character-container:hover{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(0deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content {
  flex: 1 1 15rem;
  min-width: 15rem;
  font-weight: var(--subfont-weight);
}

.hero-content:first-child p {
  margin-top: 0rem;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.socials a {
  font-size: calc(var(--font-size) * 3);
  transition: transform 0.6s ease;
}

.socials a:hover {
  transform: rotate(5deg);
}

.partnerships {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.partnerships-label {
  font-weight: bold;
}

.partnerships-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  gap: .25rem;
  box-sizing: border-box;

  padding: 0px;
}

.partnerships-logos-item {
  flex: 1 1 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  max-height: 6rem;
  box-sizing: border-box;
  padding: 0.25rem;

  margin: 0px;

}

.partnerships-logos-item img {
  width: auto;
  height: 6rem;
  object-fit: contain;
  align-self: center;
  display: block;
}

/* First item is the text label, allow it to take reasonable space */


footer {
  background-image: var(--gradient);
  padding: 3rem 0rem;
  padding-bottom: 0rem;
  width: 100%;
}

footer p {
  font-size: 0.9rem;
  color: white;
  background-color: black;
  height: 3rem;
  margin: 0px;
  text-align: center;
  color: white;
  line-height: 3rem;
}

.footer-text{
    display: inline-block;
}

a {
  background-image: var(--gradient);
  background-size: 100% 100%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

a:hover {
  background-size: 130% 130%;
  background-position: 100% 50%;
}

footer a{

}

@media (max-width: 1000px){
    .hero {
        width: 100%;

    }
}

@media (max-width: 850px) {
    :root {
        --font-size: 1.125rem;
    }

    body {

        font-size: var(--font-size);
    }

    header {
        padding: 1rem 0 1rem 0;
        margin-top: .25rem;
    }

    .header-text {
        width: 100%;
        max-width: 850px;
        height: 6.5rem;
        background-size: contain;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }

    main {
        padding: 0 1rem;
    }

    section.hero {
        width: 100%;
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .hollis-character-image {
        width: 60%;
        max-width: 14rem;
        margin: 0 0 1rem 0;
        flex: 0 0 auto;
        align-self: center;
        
    }

    .hero-content {
        flex: 1 1 auto;
        min-width: 0;
        width: 100%;
        font-weight: var(--subfont-weight);
    }

    .socials {
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .partnerships {
        width: 100%;
        
    }

    .partnerships-logos {
        gap: 0.5rem;
        padding: 0.5rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-direction: column;
    }

    
    .partnerships-logos-item {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        max-width: 100%;
        
    }

    footer {
        padding: 2rem 0 0 0;
    }

    footer p {
        font-size: 0.85rem;
        line-height: 2rem;
        height: auto;

    }

    a {
        background-size: 140% 140%;
    }
}

@media (max-width: 550px) {
    :root {
        --font-size: 1rem;
    }

    body {
        font-size: var(--font-size);
    }

    header {
        font-size: 0.9rem;
        padding: 1.5rem 0 0rem 0;
    }

    .header-text {
        height: 5.5rem;
        padding-top: 0;        
    }

    .hollis-character-image {
        width: 25%;
        max-width: 12rem;
        display:none;
    }

    .hollis-character-image-3{
      display: block;
      float:left;
      width: 25%;
      max-width: 12rem;
      margin: 0 1rem 1rem 0;
    }

    h3{
      font-size: 1.1rem;
    }

    .character-container{
      display: none;
    }

    a {
        background-size: 150% 150%;
    }

    .footer-text{
        width: 100%;
    }

    footer {
        padding-bottom: 0;
    }

    /* reduce motion for small devices where useful */
    @media (prefers-reduced-motion: reduce) {
        a {
            transition: none;
        }
    }
}